img {
   opacity: 0.7;
   position: absolute;
   width: 50%;
   border-radius: 2%;
   margin-top: 3%;
   z-index: -1;
   height: 60%;
}
.cardContainer{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    width: 50%;
    border-radius: 2%;
    margin-top: 3%;
    margin-left: 25%;
}

.city{
    font-size : 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.temp{
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 0%;
}

.minMax{
    font-size: 100%;
    margin-top: 0%;
}

.humidity{
    font-size: 150%;
    margin-top: -0.2%;
}

.pressure{
    font-size: 150%;
    margin-top: -0.2%;
}

.welcome{
    font-size: 200%;
    margin-top: -0.2%;
    color: #ffffff;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    img{
        width: 70%;
        height: 60%;
    }

    .cardContainer{
        margin-top: 25%;
    }
}

@media screen and (max-height: 500px) {
    img{
        width: 80%;
        height: 80%;
    }

    .cardContainer{
        margin-top: 25%;
    }
}
    


        